{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <div>
    <p>
      <h3><i>Привет. Рад тебя видеть на этом сайте.</br> Я - Александр Гетманов, "автор" этого проекта.</i></h3>
      Данный проект я делал в течение 3-х месяцев, в рамках учебного курса от ЯндексПрактикум.</br>
      Ранее с програмированиванием, или какой-либо сфереой ,связаной с так или иначе с компьтерами я не сталкивался.</br>
      Для меня это всё новое и очеть тяжело даваётся. Терпения и сил нехватало. Проекты сдавал с 5-6 раза.</br>
      Я очень надеюсь что у тебя, читающего этот текст, все получится. Самое главное - не сдаваться!</br>
    </p>
  </div>
{% endblock %}